@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animation {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translateY(-50%);
    opacity: 0;
    animation: slideDown 1.5s forwards;
}

@keyframes slideDown {
    0% {
        bottom: -100px;
        opacity: 0;
    }
    100% {
        bottom: 0px;
        opacity: 1;
    }
}

/* navbar-css */

a{
    text-decoration: none;
    color: #fff;
}
 
.nav-bar{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    z-index: 1;
}

.nav-bar.sticky{
    height: 75px;
    background-color: #fff;
    transform: translate(0.6s);
}

.navbar-logo.sticky{
    color: #000;
}

.navbar-list.sticky li a{
    color: #2F2F2F;
}

.navbar-container{
    width: 1000px;
    height: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo{
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}

.navbar-logo span{
    color: red;
    font-size: 24px;
    font-weight: 500;
}

.navbar-box{
    width: 45%;
}

.navbar-box ul{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.last ul{
    margin-right: 20px;
}

.navbar-list li{
    font-size: 14px;
    list-style: none;
    text-transform: uppercase;
    transition: text-transform 0.3s;
    color: #2F2F2F;
}

.navbar-list li a{
    color: #B1B1B1;
}

.navbar-list li a:hover{
    list-style: none;
    text-transform: uppercase;
    color: red;
}

.active a{
    color: red !important;
}

.menu{
    display: none;
}


@media screen and (max-width: 600px) {


    .nav-bar{
        position: relative;
        background-color: #000;
        height: 70px;
    }

    .navbar-container{
        display: inline;
        margin-top: 20px;
    }

    .navbar-logo{
        margin-left: 15px;
    }

    .menu{
        position: absolute;
        right: 0;
        margin-top: 25px;
        margin-right: 20px;
        display: block;
        color: #868686;
        cursor: pointer;
    }

    .navbar-box{
        height: wrap;
        position: absolute;
        display: none;
        width: 100%;
        background-color: #000;
    }

    .navbar-list li{
        position: relative;
        margin: 20px;
    }

    .navbar-box ul{
        width: 100%;
        margin: 0px;
        display: block
    }

    .heade-line{
        width: 100%;
        font-size: 18px !important;
        text-transform: uppercase;
        font-weight: 1000 !important;
        font-style: bold;
        text-align: center;
    }

}

/* navbar-css */

/* banner slider css */

.banner-container{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.banner-slider{
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-bg{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.img-1 {
    background-image: url(../images/banner_1.jpg);
}

.img-2 {
    background-image: url(../images/banner_2.jpg);
}

.slider-container{
    width: 960px;
}

.container-items{
    position: relative;
    width: auto;
    left: 0;
    padding: 0;
}

.banner-content{
    display: flex;
    justify-content: space-between;
}

.content-left{
    width: 375px;
}

.content-left h1{
    width: 400px;
    color: #fff;
}

.content-left p{
    color: #B1B1B1;
    margin-bottom: 15px;
}

.topic{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 24px;
    text-transform: uppercase;
    line-height: 110%;
}


.banner-btn{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    background-color: #D1002C;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.content-right{
    position: relative;
    width: 140px;
    text-align: right;
}

.content-right p{
    color: #B1B1B1;
}

.banner-counter{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 0;
    padding-right: 15px;
}

.counter-side-lay{
    position: absolute;
    right: 0;
    width: 5px;
    height: 30px;
    margin: 10px 0;
    background-color: #D1002C;
}

.video-btn{
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #D1002C;
    padding: 30px;
    border-radius: 50%;
    color: #000;
    margin: 13.1% 30.8%;
    cursor: pointer;
    animation-name: wave;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes wave {
    0% {
        box-shadow: 0 0 0 0 #FA5959, 0 0 0 0 #FA5959;
    }

    80% {
        box-shadow: 0 0 0 10px #fff0, 0 0 0 30px #fff0;
    }

    100% {
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
}

.slider-btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.toggle-btn{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 3px solid #868686;
    border-radius: 50%;
    margin: 0 1px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .slider-bg{
        padding: 20px;
    }

    .banner-content{
        background-color: #000;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .content-left{
        position: absolute;
        top: 0;
        margin: 20px 0;
        width: 375px;
    }

    .content-right{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: left;
        bottom: 0;
        width: 140px;
        text-align: right;
    }

    .topic{
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 24px;
        text-transform: uppercase;
        line-height: 110%;
    }

    .counter-side-lay{
        position: absolute;
        left: 0;
    }

    .content-right h4{
        position: absolute;
        margin: 0 10px;
    }

    .content-right p{
        font-size: 14px;
        width: 250px;
        text-align: left;
        margin-top: 50px;
    }

    .banner-counter{
        font-size: 34px;
        font-weight: 800;
        color: #fff;
        padding-right: 15px;
    }
    
    .video-btn{
        margin: 160px 260px;
    }

    .slider-btn{
        left: 0;
        position: absolute;
        transform: translate(-50%);
        margin: 30px;
        margin-bottom: 60px;
        cursor: pointer;
    }

}

/* banner slider css */

/* about us */

.about-avo{
    width: 100%;
    height: wrap;
    margin-top: 200px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-row{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heade-line{
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.services-row-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services {
    width: 200px;
    height: 200px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.services-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 55px;
    height: 55px;
    margin: 30px;
    background-position: center;
    background-size: cover;
}

.vector {
    background-image: url(../images/005-vector.png);
}

.web-programming {
    background-image: url(../images/004-web-programming.png);
}

.layer {
    background-image: url(../images/003-layer.png);
}

.coding {
    background-image: url(../images/002-coding.png);
}

.zoom {
    background-image: url(../images/001-zoom.png);
}

.services-text {
    text-align: center;
}

.welcome-row{
    width: 1000px;
    height: 400px;
}

.wellcome-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-row h3{
    font-size: 30px;
    margin-bottom: 20px
}

.welcome-row p{
    line-height: 1.5;
    color: #B1B1B1;
    margin-bottom: 20px
}

.welcome-para-one{
    width: 100%;
    height: 100%;
    text-align: right;
}

.text-right{
    margin: 20px;
}

.welcome-img{
    width: 100%;
    height: 100%;
    background-image: url(../images/about_us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.welcome-para-two{
    width: 100%;
    height: 100%;
    text-align: left;
}

.text-left{
    margin: 20px;
}

.text-left a{
    padding: 10px 20px !important;
}

.services-row-down{
    padding: 50px;
    display: flex;
    justify-content: center;
}

.main-services{
    margin: 0 20px;
}

.main-services-content{
    display: flex;
}

.main-services-content span {
    color: #D1002C !important;
    font-size: 45px;
    margin-right: 15px;
    margin-bottom: 80px;
    border: 0;
    border-bottom: 1px solid #B1B1B1;
}

.main-services-text{
    width: 230px;
}

.main-services-text p{
    color: #B1B1B1;
}

@media screen and (max-width: 600px) {


    .container{
        position: relative;
    }

    .services-row-up{
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome-row{
        width: 470px;
        height: 900px;
        position: relative;
    }

    .wellcome-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .icon {
        width: 60px;
        height: 60px;
        background-position: center;
        background-size: cover;
    }

    .text-right h3, p{
        text-align: left;
        margin-left: 0;
    }

    .services-row-down{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }

    .main-services{
        margin: 0;
    }

    .main-services-content{
        display: flex;
        right: 0;
    }

    .main-services-content span {
        color: #D1002C !important;
        font-size: 45px;
        margin-right: 15px;
        margin-bottom: 10px;
        border: 0;
        border-bottom: 1px solid #B1B1B1;
    }
    
    .main-services-text{
        width: 100%;
        margin-top: 5px;
    }
    
    .main-services-text p{
        color: #B1B1B1;
        margin-top: 5px;
    }

    .welcome-para-one{
        position: absolute;
        bottom: 0%;
        width: 450px;
        height: 350px;
        margin: 0;
        margin-bottom: 200px;
    }

    .welcome-img{
        width: 450px;
        height: 350px;
        top: 0%;
        position: absolute;
    }

    .welcome-para-two{
        position: absolute;
        margin-bottom: 0px;
        width: 450px;
        margin-left: 0;
        bottom: 0%;
        height: 300px;
    }

}

/* about us */


/* Clients Says */

.clients-say-avo{
    height: wrap;
    margin-top: 200px;
}

.clients-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading-row{
    width: 100%;
}

.clients-content{
    margin: 50px 0;
}

.clients-content-inner{
    display: flex;
    justify-content: center;
}

.started-container{
    width: 1000px;
    height: 290px;
}

.started-content-img{
    width: 100%;
    height: 100%;
    background-image: url(../images/banner_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.started-content{
    width: 100%;
    height: 200px;
    padding: 20px;
}

.started-content span{
    color: #D1002C;
    margin-bottom: 10px;
}

.started-content h2{
    width: 400px;
    color: #fff;
    margin-bottom: 10px;
    font-size: 30px;
}

.started-content p{
    color: #868686;
    margin: 15px 0;
    width: 400px;
}


@media screen and (max-width: 600px) {

    .clients-say-avo{
        margin-top: 200px;
    }

    .started-container{
        width: 450px;
    }

    .started-content-img{
        width: auto;
        height: 270px;
    }

    .started-content{
        position: relative;
    }

    .started-content p{
        margin: 10px 0;
        width: 400px;
    }
}

/* Clients Says */

/* recent blog */

.recent-blog-avo{
    margin-top: 200px;
}

.recent-blog-container{
    display: flex;
    flex-direction: column;
    
}

.blog-row{
    display: flex;
    justify-content: center;
}

.blog-row{
    border: 2px solid #D1002C;
}

.blog-row-outer{
    border: 2px solid #c000d1;
}

.blog-row-inner{
    border: 2px solid #00d18b;
}

.blog-content {
    border: 2px solid #54d100;
}

.blog-content h3 {
    border: 2px solid #0038d1;
}

.blog-header{
    color: #000;
    text-align: center;
}

.blog-header a{
    color: #000;
}

.blog{
    border: 2px solid #6588eb;
}

.img-1{

}

.img-2{
    
}

.img-3{
    
}

.img-4{
    
}

.img-data{

}

.img-data a{
    
}

.blog-content p{

}

/* recent blog */