@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateY(10%);
}

.show{
    opacity: 1;
    transform: translateY(-10%);
}

.animation {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translateY(-50%);
    opacity: 0;
    animation: slideDown 1.5s forwards;
}

@keyframes slideDown {
    0% {
        bottom: -100px;
        opacity: 0;
    }
    100% {
        bottom: 0px;
        opacity: 1;
    }
}

/* navbar-css */

a{
    text-decoration: none;
    color: #fff;
}
 
.nav-bar{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 110px;
}

.nav-bar.sticky{
    z-index: 100000;
    height: 75px;
    background-color: #fff;
    transform: translate(1.6s);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo.sticky{
    color: #000;
}

.navbar-list.sticky li a{
    color: #2F2F2F;
}

.navbar-container{
    position: relative;
    width: 1000px;
    height: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo{
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}

.navbar-logo span{
    color: red;
    font-size: 24px;
    font-weight: 500;
}

.navbar-box{
    width: 45%;
}

.navbar-box ul{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.last ul{
    margin-right: 20px;
}

.navbar-list li{
    font-size: 14px;
    list-style: none;
    text-transform: uppercase;
    transition: text-transform 0.3s;
    color: #2F2F2F;
}

.navbar-list li a{
    color: #B1B1B1;
}

.navbar-list li a:hover{
    list-style: none;
    text-transform: uppercase;
    color: red;
}

.active a{
    color: red !important;
}

.menu{
    display: none;
}


@media screen and (max-width: 600px) {


    .nav-bar{
        position: fixed;
        background-color: #000;
        height: 70px;
    }

    .navbar-container{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .navbar-logo{
        position: absolute;
        left: 0;
        margin-left: 15px;
    }

    .menu{
        position: absolute;
        right: 0;
        margin-top: 25px;
        margin-right: 20px;
        display: block;
        color: #868686;
        cursor: pointer;
    }

    .navbar-box{
        height: wrap;
        position: relative;
        display: none;
        margin-top: 50px;
        width: 100%;
        background-color: #000;
    }

    .navbar-list li{
        position: relative;
        margin: 20px;
    }

    .navbar-box ul{
        width: 100%;
        margin: 0px;
        display: block;
    }

    .heade-line{
        width: 100%;
        font-size: 18px !important;
        text-transform: uppercase;
        font-weight: 1000 !important;
        font-style: bold;
        text-align: center;
    }

    .nav-bar.sticky{
        z-index: 100000;
        height: 75px;
        background-color: #fff;
        transform: translate(1.6s);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    }

    .navbar-box.sticky{
        background-color: #fff;
    }
    
    .navbar-logo.sticky{
        color: #000;
    }
    
    .navbar-list.sticky li a{
        color: #2F2F2F;
    }

}

/* navbar-css */

/* banner slider css */

.banner-container{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.banner-slider{
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-bg{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.slider-img-1 {
    background-image: url(../images/banner_1.jpg);
}

.slider-img-2 {
    background-image: url(../images/banner_2.jpg);
}

.slider-container{
    width: 960px;
}

.container-items{
    position: relative;
    width: auto;
    left: 0;
    padding: 0;
}

.banner-content{
    display: flex;
    justify-content: space-between;
}

.content-left{
    width: 375px;
}

.content-left h1{
    width: 400px;
    color: #fff;
}

.content-left p{
    color: #B1B1B1;
    margin-bottom: 15px;
}

.topic{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 24px;
    text-transform: uppercase;
    line-height: 110%;
}

.banner-slider-bottom {

    position: absolute;
    height: 150px;
    width: 100%;
    bottom: -8%;
    background-color: #FFFFFF;
    clip-path: polygon(68% 66%, 100% 0, 100% 60%, 75% 100%, 35% 99%, 0 58%, 0 0);

}

.banner-btn{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    background-color: #D1002C;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.content-right{
    position: relative;
    width: 140px;
    text-align: right;
}

.content-right p{
    color: #B1B1B1;
}

.banner-counter{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 0;
    padding-right: 15px;
}

.counter-side-lay{
    position: absolute;
    right: 0;
    width: 5px;
    height: 30px;
    margin: 10px 0;
    background-color: #D1002C;
}

.video-btn{
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #D1002C;
    padding: 30px;
    border-radius: 50%;
    color: #000;
    right: 0;
    bottom: 0;
    margin-bottom: 4%;
    margin-right: 30.8%;
    cursor: pointer;
    animation-name: wave;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes wave {
    0% {
        box-shadow: 0 0 0 0 #FA5959, 0 0 0 0 #FA5959;
    }

    80% {
        box-shadow: 0 0 0 10px #fff0, 0 0 0 30px #fff0;
    }

    100% {
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
}

.slider-btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 30px;
    cursor: pointer;
}

.toggle-btn{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 3px solid #868686;
    border-radius: 50%;
    margin: 0 1px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .slider-bg{
        padding: 20px;
    }

    .banner-content{
        background-color: #000;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .content-left{
        position: absolute;
        top: 0;
        margin: 20px 0;
        width: 375px;
    }

    .content-right{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: left;
        bottom: 0;
        width: 140px;
        text-align: right;
    }

    .topic{
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 24px;
        text-transform: uppercase;
        line-height: 110%;
    }

    .counter-side-lay{
        position: absolute;
        left: 0;
    }

    .content-right h4{
        position: absolute;
        margin: 0 10px;
    }

    .content-right p{
        font-size: 14px;
        width: 250px;
        text-align: left;
        margin-top: 50px;
    }

    .banner-counter{
        font-size: 34px;
        font-weight: 800;
        color: #fff;
        padding-right: 15px;
    }
    
    .video-btn{
        margin: 130px 120px;
    }

    .slider-btn{
        left: 0;
        position: absolute;
        transform: translate(-50%);
        margin: 30px;
        margin-bottom: 80px;
        cursor: pointer;
    }

}

/* banner slider css */

/* about us */

.about-avo{
    width: 100%;
    height: wrap;
    padding-top: 100px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-row{
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heade-line{
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}


.services-row-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.services {
    width: 200px;
    height: 200px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.services-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 55px;
    height: 55px;
    margin: 30px;
    background-position: center;
    background-size: cover;
}

.vector {
    background-image: url(../images/005-vector.png);
}

.web-programming {
    background-image: url(../images/004-web-programming.png);
}

.layer {
    background-image: url(../images/003-layer.png);
}

.coding {
    background-image: url(../images/002-coding.png);
}

.zoom {
    background-image: url(../images/001-zoom.png);
}

.services-text {
    text-align: center;
}

.welcome-row{
    position: relative;
    width: 1000px;
    height: 400px;
}

.wellcome-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-row h3{
    font-size: 30px;
    margin-bottom: 20px
}

.welcome-row p{
    line-height: 1.5;
    color: #B1B1B1;
    margin-bottom: 20px
}

.welcome-para-one{
    width: 100%;
    height: 100%;
    text-align: right;
}

.text-right{
    margin: 20px;
}

.welcome-img{
    width: 100%;
    height: 100%;
    background-image: url(../images/about_us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.welcome-para-two{
    width: 100%;
    height: 100%;
    text-align: left;
}

.text-left{
    margin: 20px;
}

.text-left a{
    padding: 10px 20px !important;
}

.services-row-down{
    padding: 50px;
    display: flex;
    justify-content: center;
}

.main-services{
    margin: 0 20px;
}

.main-services-content{
    display: flex;
}

.main-services-content span {
    color: #D1002C !important;
    font-size: 45px;
    margin-right: 15px;
    margin-bottom: 80px;
    border: 0;
    border-bottom: 1px solid #B1B1B1;
}

.main-services-text{
    width: 230px;
}

.main-services-text p{
    color: #B1B1B1;
}

@media screen and (max-width: 600px) {


    .container{
        position: relative;
    }

    .services-row-up{
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome-row{
        width: 470px;
        height: 900px;
        position: relative;
    }

    .wellcome-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .icon {
        width: 60px;
        height: 60px;
        background-position: center;
        background-size: cover;
    }

    .text-right h3, p{
        text-align: left;
        margin-left: 0;
    }

    .services-row-down{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }

    .main-services{
        margin: 0;
    }

    .main-services-content{
        display: flex;
        right: 0;
    }

    .main-services-content span {
        color: #D1002C !important;
        font-size: 45px;
        margin-right: 15px;
        margin-bottom: 10px;
        border: 0;
        border-bottom: 1px solid #B1B1B1;
    }
    
    .main-services-text{
        width: 100%;
        margin-top: 5px;
    }
    
    .main-services-text p{
        color: #B1B1B1;
        margin-top: 5px;
    }

    .welcome-para-one{
        position: absolute;
        bottom: 0%;
        width: 450px;
        height: 350px;
        margin: 0;
        margin-bottom: 200px;
    }

    .welcome-img{
        width: 450px;
        height: 350px;
        top: 0%;
        position: absolute;
    }

    .welcome-para-two{
        position: absolute;
        margin-bottom: 0px;
        width: 450px;
        margin-left: 0;
        bottom: 0%;
        height: 300px;
    }

}

/* about us */

/* our work */

.works-section{
    width: 100%;
    height: wrap;
    background-color: #F3F3F3;
}

.works-header{
    width: auto;
    height: 90px;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(100% 0, 100% 91%, 33% 24%, 0 94%, 0 0);
    margin-bottom: -60px;
}

.works-section-row{
    display: flex;
    justify-content: center;
}

.heading-text{
    margin-bottom: 100px;
    font-size: 25px;
    text-transform: uppercase;
    font-style: bold;
    font-weight: 100;
    padding: 30px;

}

.works-container{
    width: 100%;
    height: wrap;
    position: relative;
    display: flex;
    flex-direction: column;
}

.works-content{
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrap{
    width: auto;
    display: flex;
    margin-top: -70px;
    justify-content: center;
    align-items: center;
}

.works-img{
    width: 500px;
    height: 600px;
    background-size: cover;
    background-clip: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/our-work-1.jpg);
}

.works-top-outer{
    margin: 0 60px;
}

.works-middle-outer{
    width: 460px;
    height: wrap;
    display: flex;
}

.works-bottom-outer{
    display: flex;
    align-items: center;
    align-items: right;
}

.works-description{
    margin-top: 170px;
    height: 400px;
}

.description-top{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.description-top h2{
    text-align: left;
}

/* ========== */

.description-top-left h2{
    text-align: right;
}
.description-top-left{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.description-bottom-left p {
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: center;
}

.woker-details-left{
    margin-top: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.view-btn-left{
    position: absolute;
    display: flexbox;
    margin: 30px 0;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 5px;
    letter-spacing: 3px;
    justify-content: right;
    align-items: center;
    right: 0;
    color: #000;
    border: 1px solid #B1B1B1;
}

.view-btn-left a{
    color: #000;
}

.sub-header-left{
    width: 100%;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: right;
}

/* =========== */

.sub-header{
    width: 100%;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: left;
}

.main-header a{
    font-size: 40px;
    color: #000 !important;
}


.description-bottom p{
    width: 100%;
    margin: 15px 0;
}

.woker-details{
    display: flex;
    justify-content: left;
    align-items: center;
}

.woker-img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.woker-name{
    margin: 0 20px;
}

.woker-name h4{
    color: #0008;
}

.woker-name span{
    color: #B1B1B1;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}

.view-btn{
    position: absolute;
    display: flexbox;
    margin: 30px 0;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 5px;
    letter-spacing: 3px;
    justify-content: right;
    align-items: center;
    color: #000;
    border: 1px solid #B1B1B1;
}

.view-btn a{
    color: #000;
}

.our-works-bottom{
    margin-top: 100px;
    height: 110px;
    width: auto;
    display: flex;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(67% 87%, 82% 87%, 100% 0, 100% 100%, 0 100%, 0 0);
    
}

.work-img-1{
    background-image: url(../images/our-work-1.jpg)
}

.work-img-2{
    background-image: url(../images/our-work-2.jpg)
}
.work-img-3{
    background-image: url(../images/our-work-3.jpg)
}
.work-img-4{
    background-image: url(../images/our-work-4.jpg)
}
.work-img-5{
    background-image: url(../images/our-work-5.jpg)
}
.work-img-6{
    background-image: url(../images/our-work-6.jpg)
}

.woker-1{
    background-image: url(../images/client-1.jpg)
}
.woker-2{
    background-image: url(../images/client-2.jpg)
}
.woker-3{
    background-image: url(../images/client-3.jpg)
}
.woker-4{
    background-image: url(../images/client-2.jpg)
}
.woker-5{
    background-image: url(../images/client-3.jpg)
}
.woker-6{
    background-image: url(../images/client-1.jpg)
}

@media screen and (max-width: 600px) {

    .works-section{
        width: wrap;
        height: wrap;
        margin: 0;
    }

    .content-wrap{
        width: 450px;
        height: 1400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .works-container{
        position: relative;
    }

    .works-top-outer{
        margin: px;
    }

    .works-img{
        margin: auto;
        width: 450px;
    }

    /* ========== */

.description-top-left h2{
    text-align: left;
}
.description-top-left{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.description-bottom-left p {
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
}

.woker-details-left{
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.view-btn-left{
    position: absolute;
    margin: 30px 0;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 5px;
    letter-spacing: 3px;
    left: 0;
    width: auto;
    color: #000;
    border: 1px solid #B1B1B1;
}

.view-btn-left a{
    color: #000;
}

.sub-header-left{
    width: 100%;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: left;
}

/* =========== */

.content-wrap{
    position: relative;
}

.mob-res-top{
    position: absolute;
    margin-bottom: 100px;
    bottom: 0;
}

.mob-res-img{
    position: absolute;
    top: 0;
}
    
}

/* our works */

/* Clients Says */

.clients-say-avo{
    height: wrap;
    padding-bottom: 200px;
    padding-top: 100px;
    background-color: #fff;
}

.clients-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading-row{
    width: 100%;
}
.started-container{
    width: 1000px;
    height: 350px;
}

.started-content-img{
    width: 100%;
    height: 100%;
    background-image: url(../images/banner_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.started-content{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 50px;
}

.started-content span{
    color: #D1002C;
    margin-bottom: 10px;
}

.started-content h2{
    width: 400px;
    color: #fff;
    margin-bottom: 10px;
    font-size: 30px;
}

.started-content p{
    color: #868686;
    margin: 15px 0;
    width: 400px;
}


  .slider {
    width: 950px;
    height: 500px;
    display: flex;
    margin: 100px 0;
    justify-content: center;
}

.slide-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width: 300px;
    margin: 0 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.clients-img {
    width: 80px;
    height: 80px;
    background-color: #333;
    border-radius: 50%;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.name{
    font-style: bold;
    font-size: 18px;
    color: #000 !important;
}

.clients-position{
    margin: 0 !important;
    margin-top: -15px !important;
    margin-bottom: 20px !important;
}

.content-text p{
    color: #B9B3B3;
}

.client-1{
    background-image: url(../images/client-1.jpg);
}
.client-2{
    background-image: url(../images/client-2.jpg);
}
.client-3{
    background-image: url(../images/client-3.jpg);
}
.client-4{
    background-image: url(../images/client-1.jpg);
}
.client-5{
    background-image: url(../images/client-2.jpg);
}
.client-6{
    background-image: url(../images/client-3.jpg);
}
.client-7{
    background-image: url(../images/client-2.jpg);
}

/* ====================================== */

/* .clients-slide-container{
    height: 500px;
    width: 100%;
}

.card{
    display: flex;
    width: 320px;
}

.client-slider{
    width: 100%;
    height: 500px;
    background-color: #868686;
} */

.clients-slider{
    width: 1100px;
    margin: 100px 200px;
}

.clients-slider-container{
    width: 900px;
    margin: 100px 0;
    border-radius: 50px;
}

.clients-slider .item {
    width: 350px;
    height: 350px;
}

.content-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    padding: 20px;
}

.item-inner{
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
}

.clients-details{
    width: 100%;
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
}

.item{
    z-index: 0;
}

.content-text span{
    position: absolute;
    color: #D1002C;
    left: 0;
    top: 0;
    font-size: 40px;
    margin-left: 30px;
}

.content-text p{
    margin:  20px 0;
}


/* =================================== */


@media screen and (max-width: 600px) {

    .clients-say-avo{
        padding-bottom: 100px;
    }

    .started-container{
        width: 450px;
    }

    .started-content-img{
        width: auto;
        height: 270px;
    }

    .started-content{
        position: relative;
        margin-top: 20px;
    }

    .started-content p{
        margin: 10px 0;
        width: 400px;
    }

    .slider{
        width: 340px;
    }

    .clients-slider{
        width: 450px;
        margin: 100px 200px;
    }

    .clients-slider-container{
        width: auto;
        margin: 1000px 0;
        border-radius: 50px;
    }

    .content-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
}

/* Clients Says */

/* recent blog */

.recent-blog-avo{
    width: 100%;
    height: wrap;
    justify-content: center;
    display: flex;
    background-color: #F3F3F3;
}

.recent-blog-head{
    background-color: #16b916;
    width: auto;
    height: 90px;
    margin-top: -300px;
    background-color: #F3F3F3;
    clip-path: polygon(100% 0, 100% 91%, 33% 24%, 0 94%, 0 0);
}

.recent-blog-container{
    flex-direction: column;
    width: 1000px;
}

.blog-row{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-row-outer{
    margin: 0 10px;
}

.blog-row-inner{
    height: wrap;
}

.blog-header{
    color: #000;
    text-align: left;
}

.blog-header a{
    color: #000;
    font-size: 20px;
}

.blog{
    width: 100% !important;
    height: 300px;
    margin-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.blog-img-1{
    background-image: url(../images/blog-1.jpg);
}

.blog-img-2{
    background-image: url(../images/blog-2.jpg);
}

.blog-img-3{
    background-image: url(../images/blog-3.jpg);
}

.blog-img-4{
    background-image: url(../images/blog-4.jpg);
}

.img-data{
    width: 100%;
    display: flex;
    margin: 20px 0;
    padding-right: 25px;
    justify-content: space-between;
}

.img-data a{
    font-size: 14px !important;
    text-transform: uppercase;
    color: #000;
}

.blog-content p{
    font-size: 16px !important;
}

.blog-header a:hover{
    color: #D1002C;
}

@media screen and (max-width: 600px) {
    .blog-row{
        flex-direction: column;
    }

    .img-data{
        width: 50%;
        display: flex;
        margin: 20px 0;
        padding-right: 25px;
    }

    .blog-row-outer{
        margin-top: 50px;
    }

    .recent-blog-header{
        padding: 50px;
    }
}

/* recent blog */

/* footer */

.avo-footer{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: #000;
}

.footer-container{
    height: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content{
    display: flex;
    /* display: flex;
    justify-content: center;*/
    margin: 100px auto; 
}

.avo-outer{
    width: 200px;
    margin-right: 40px;
}

.content-outer{
    height: 100%;
    /* height: 100%; */
}

.same-content{
    width: 170px;
    display: flex;
    /* padding: 30px;
    margin: 0 20px; */
}

.content-avo{
    width: 170px;
}

.content-avo h2{
    color: #fff;
}

.content-avo p{
    color: #B1B1B1;
    margin-bottom: 30px;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon li{
    padding: 10px;
    background-color: #1A1A1A;
    border-radius: 50%;
    color: #B1B1B1;
    list-style: none;
    margin: 10px;
}

.social-icon li span{
    padding: 5px;
    background-color: #1A1A1A;
    border-radius: 50%;
    color: #8D8D8D;
}

.footer-headders{
    color: #fff;
    font-size: 18px;
    margin: 30px 0;
}

.footer-list li a span{
    margin-right: 10px;
    color: #B1B1B1;
}

.footer-list li a{
    margin-bottom: 40px;
    color: #B1B1B1;
}

.content-questions{
    width: 230px;
}

.questions-inner{
    width: 200px;
}

.contact-details ul li{
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.contact-details ul li .contact{
    width: 100%;
}


.contact-icon{
    margin-right: 20px;
    color: #8D8D8D;
}

.contact{
    width: 40px;
    color: #8D8D8D;
}

.copyright{
    margin-bottom: 150px;
}

.copyright-text{
    color: #fff;
}

.copyright-text p a{
    color: #D1002C;
}

@media screen and (max-width: 600px) {

    .avo-footer{
        width: 100%;
        height: 100%;
    }

    .content-avo p{
        width: 400px;
    }

    .footer-content{
        width: 100%;
        padding:  10px;
        display: flex;
        flex-direction: column;
    }

    .copyright-text{
        margin: 20px;
    }

    .copyright-text p{
        text-align: center;
    }

    .contact{
        width: 300px;
        color: #8D8D8D;
    }
}

/* footer */